* {
  font-family: "UbuntuMono Nerd Font", sans-serif, Arial;
  font-size: 15px;
  color: #FCE8C3;
}

window#waybar {
  background: none;
}

window#waybar > box {
  background: #121110;
  padding: 0 20px;
}

button {
  border: none;
}

#clock,
#hardware,
#temperature,
#network,
#pulseaudio,
#wireplumber,
#idle_inhibitor,
#power-profiles-daemon,
#window,
#workspaces {
  margin: 0 4px;
}

#cpu,
#memory,
#temperature {
  margin: 0 6px;
}

#cpu.warning,
#memory.warning,
#temperature.warning {
  margin: 0 12px;
  color: #fbb829;
}

#cpu.critical,
#memory.critical,
#temperature.critical {
  color: #ef2f27;
}
