* {
  border: none;
  color: #ebdbb2;

  font-family: "Roboto";
  font-size: 10.5pt;
  font-weight: normal;
}

window#waybar {
  background: #282828;
}

button,
button:hover {
  background: transparent;
  box-shadow: none;
  margin: 3px 0;
  padding: 0 3px 0;
  border: none;
  border-radius: 0;
}

#workspaces button.focused {
  box-shadow: inset 0 -3px #fabd2f;
}

.modules-left {
  margin-left: 9px;
}

.modules-right {
  margin-right: 12px;
}

#workspaces button {
  margin-right: 3px;
}

#stats {
  margin-right: 10px;
}

#network.down,
#network.up,
#cpu,
#memory {
  margin: 3px 7px;
  font-size: 12;
  font-weight: bold;
}

#cpu.low,
#memory.low {
  box-shadow: inset 0 -3px #b8bb26;
}

#cpu.medium,
#memory.medium {
  box-shadow: inset 0 -3px #fabd2f;
}

#cpu.high,
#memory.high {
  box-shadow: inset 0 -3px #fb4934;
}

#pulseaudio,
#network,
#battery {
  font-size: 16;
}

#pulseaudio {
  margin:0 5px;
}
